/Java/javaCeV/SomaSwing/dist/
/Java/javaCeV/CalculadoraIdade/nbproject/private/
/Java/javaCeV/CalculadoraIdade/build/
/Java/javaCeV/OperadoresAritmeticos/nbproject/private/
/Java/javaCeV/OperadoresAritmeticos/build/
/Java/javaCeV/OperadoresSwing/nbproject/private/
/Java/javaCeV/OperadoresSwing/build/