/* CSS Document */ /*[class*="col"]{border:1px solid red;}*/ 
label.error{color:#F00;} 

#topo-admin{
	padding-bottom: 50px;
}

.topo{background-color:#333333; 
	color:#fff;} 

.topo ul li a{color:#FFF;} 

.topo ul li a:hover{color:#313131;} 

.topo .dropdown-menu a{color:#313131;} 

.white{color:#fff; background-color:#fff;} 

.banner-principal{background-color:#0275D8; 
	color:#fff; 
	margin-bottom:5px;} 

.box-cinza{/*border:1px solid #EBEBEB; 
	border-radius:5px;*/} 

.footer{background-color:#2A2730; 
	color:#fff; 
	min-height:100px; 
	margin-top:5px;} 

.sobre{line-height:100px;} 

.social{position:fixed; 
	right:0; 
	top:30%; 
	z-index:1; } 

.social h1{margin:0; 
	padding:0;} 

#barraBasica ul{z-index:10; 
	position:absolute;} 

.container-fluid{z-index:1;}

.fundoLoad{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	 background-color:  rgba(255,255,255,0.8);
	z-index: 1;
	text-align: center;
	padding-top: 10%;
}

