.margin-15pxTop{margin: 15px 0 0 0;}
.capa {float: left; margin: 0 20px 0 0;}
.textFont {float: right;margin: 88px 0 0 0;cursor: default;font-weight: 550;}
.divc {width: 100%;}
.lnovimg {max-width: 600px;margin: 0 15px 0 0;}
.h2d {cursor: default;}
.lnovcapa {float: left;}
.alignCenter {text-align: center;}
.alignLeft {text-align: left;}
.contImg {text-align: center;width: 100%;}
.contImg img {max-width: 600px;}
.fontCont {text-align: right;}
.fontCont p {font-weight: 540; margin: 10px 0 0 0;}